<div>
	<input type="text" ng-model="search.name" />
	<div id='searchresults' ng-show='resultseffective'>
		<table border="1">
		 <thead>
		  <tr>
		   <th>Number</th>
		   <th>Name</th>
		   <th>Image</th>
		  </tr>
		 </thead>
		 <tbody>
 		  <tr ng-repeat="card in (filteredmajor = (arcana | filter:search))">
		 <!--  <tr ng-repeat="tarot in tarots | filter:search"> -->
		   <td>{{card.number}}</td>
		   <td>{{card.name}}</td>
		   <td><img width=25% ng-src="{{card.imageurlUpright}}"></img></td>

		  </tr>
		 </tbody>
		</table>
	</div>
</div>